html {
    min-height: 100%;
}

.ctxmenu {
    position: fixed;
    border: 1px solid #999;
    padding: 2px 0;
    box-shadow: #aaa 3px 3px 3px;
    background: #fff;
    margin: 0;
    z-index: 9999;
    overflow-y: auto;
    font: 15px Verdana, sans-serif;
    box-sizing: border-box;
}

.ctxmenu li {
    margin: 1px 0;
    display: block;
    position: relative;
    user-select: none;
}

.ctxmenu li.heading {
    font-weight: bold;
    margin-left: -5px;
}

.ctxmenu li span {
    display: block;
    padding: 2px 20px;
    cursor: default;
}

.ctxmenu li a {
    color: inherit;
    text-decoration: none;
}

.ctxmenu li.icon {
    padding-left: 15px;
}

.ctxmenu img.icon {
    position: absolute;
    width: 18px;
    left: 10px;
    top: 2px;
}

.ctxmenu li.disabled {
    color: #ccc;
}

.ctxmenu li.divider {
    border-bottom: 1px solid #aaa;
    margin: 5px 0;
}

.ctxmenu li.interactive:hover {
    background: rgba(0, 0, 0, 0.1);
}

.ctxmenu li.submenu::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0.4em;
    margin: auto 0.1rem auto auto;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(45deg);
    width: 0.3rem;
    height: 0.3rem;
}

.ctxmenu li.submenu.disabled::after {
    border-color: #ccc;
}
